#product-container{
    float: left;
    background-color: #cecccc;
    border: 2px solid #7a7777;
    border-radius: 10px;
    margin-top: calc(3% - 5px);
    margin-left: calc(11% - 5px);
    width: calc(48% - 5px);
    height: calc(100% - 0);
    box-sizing: border-box;
    display: grid;
}
#add-product-container{
    border: 2px solid #7a7777;
    background-color: #cecccc;
    border-radius: 5px;
    margin-left: calc(62% - 15px);
    margin-top: calc(3% - 5px);
    box-sizing: border-box;
    display: grid;
}

.add-product-input{
    width: 85%;
    display: inline-block;
    border: 2px solid #865c5c;
    border-radius: 4px;
    box-sizing: border-box;
}.add-product-details{
     color: #0c0c0c;
     font-size: 24px;
     font-family: Calibri;
     text-align: left;
     margin-left: 25px;
     padding: 5px 10px;
 }
 #productName{
     margin-left: 25px;
 }
#quantity{
    margin-left: 72px;
}
#costPrice{
    margin-left: 60px;
}
#sellingPrice{
    margin-left: 38px;
}
#productBrand{
    margin-left: 98px;
}

